{% extends 'viewer/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Connect{% endblock %}

{% block javascript %}
    <script src="{% static 'js/connect/script.js' %}"></script>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <form class="form-inline" method="GET" action="">
                <div class="form-group">
                    <label for="tableFrom">From</label>
                    <input type="text" class="form-control" id="tableFrom" placeholder="Table" size="64" name="from" value="{{ request.GET.from }}">
                </div>
                <div class="form-group">
                    <label for="tableTo"> to </label>
                    <input type="text" class="form-control" id="tableTo" placeholder="Table" size="64" name="to" value="{{ request.GET.to }}">
                </div>
                <button type="submit" class="btn btn-default">Connect</button>
            </form>
        </div>
    </div>

{% endblock %}