html,body { 
	height: 100%; 
	margin: 0px; 
	padding: 0px; 
}

.container-full {
  	margin: 0 auto;
	width: 100%;
	height: 100%;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}

.sqlv-svg {
	background-color: #9DEBFF;
	cursor: pointer;
	cursor: grab;
	cursor: -webkit-grab;
}

.sqlv-svg-grabing {
	cursor: move;
	cursor: grabing;
	cursor: -webkit-grabing;
}

.main {
	width: 100%;
	height: 100%;
}

.sqlv-table {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	border: 1px solid #7f8c8d;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	background-color: #ecf0f1;
}

.sqlv-table td {
	padding: 5px;
}

.sqlv-table th {
	background-color: #1abc9c;
}

.sqlv-canvasText {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;	
	color: #34495e;
}

