<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% include 'components/styles.html' %}
    {% block css %}
    {% endblock %}
</head>
<body>
{% include 'components/navbar.html' %}

<div class="container-fluid">
    {% block body %}
    {% endblock %}
</div>

{% include 'components/scripts.html' %}
{% block javascript %}
{% endblock %}

</body>
</html>