{% extends 'viewer/base.html' %}
{% load staticfiles %}

{% block title %}Diagram{% endblock %}


{% block header_search %}
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group" role="search">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}

{% block custom_js %}

    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/svg.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dragscroll/dragscroll.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/sql-viewer/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sql-viewer/events.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sql-viewer/canvas.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sql-viewer/table.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sql-viewer/link.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sql-viewer/parser.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="glimpse-container dragscroll noselect">
        <div id="loading"></diV>
        <div class="main" id="main"></div>
    </div>
    <footer id="footer">
        <div id="footer-header" class="header bg-primary">see more</div>
        <div class="space">


        </div>
        <div class="row">
            <div class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Column name: </label>
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Comments: </label>
                        <textarea class="form-control" disabled></textarea>
                    </div>
                </form>
            </div>
        </div>
    </footer>
{% endblock %}
