{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>sql-viewer</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="main" id="main"></div>

<!-- scripts -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/svg.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sql-viewer/init.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sql-viewer/canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sql-viewer/table.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>


</body>
</html>