{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>sql-viewer</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}"/>
</head>
<body>

<div class="main" id="main">

</div>

<!-- scripts -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/svg.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Playground.js' %}"></script>
<script type="text/javascript" src="{% static 'js/SqlViewer.js' %}"></script>
</body>
</html>