{% extends 'viewer/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Model Details{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/model/model-style.css' %}"/>
{% endblock %}

{% block body %}
    <div class="row"></div>
    {% for dia in diagrams %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 diagram-item">
            <a href="{% url 'diagram_details' version.model.id version.id dia.id %}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div >
                            <div class="diagram-element-image">
                                <img src="{% static 'img/workbench/diagram.jpg' %}">
                            </div>
                            <div class="diagram-element-text">
                                {{ dia.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}